<!-- from https://www.codeply.com/go/q0b6ILuRyx/bootstrap-4-vertical-sidebar-nav-with-submenu -->

<div class="collapse d-md-flex bg-light h-100" id="sidebar" *ngIf="isMenuExpanded">
  <ul class="nav flex-column flex-nowrap w-100">
    <li class="nav-item">
      <a class="nav-link " href="#" (click)="isCollapsed[0] = !isCollapsed[0]">By Affection 
        <span *ngIf="isCollapsed[0]"> ▴ </span> 
        <span *ngIf="!isCollapsed[0]"> ▾ </span> 
      </a>
      <div id="submenu1" [ngbCollapse]="isCollapsed[0]" aria-expanded="false">
        <ul class="flex-column pl-2 nav submenu">
          <li class="nav-item">
            <a class="nav-link py-1" href="">Aches and Pain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Acne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Allergy and Sinus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Arthritis</a>
          </li>


        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link " href="#" (click)="isCollapsed[1] = !isCollapsed[1]">Supplements
          <span *ngIf="isCollapsed[1]"> ▴ </span> 
          <span *ngIf="!isCollapsed[1]"> ▾ </span> 
      </a>
      <div id="submenu1" [ngbCollapse]="isCollapsed[1]" aria-expanded="false">
        <ul class="flex-column pl-2 nav submenu">
          <li class="nav-item">
            <a class="nav-link py-1" href="">Aminoacids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Antioxidants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Bones, Joints and Muscles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Fibers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">50+</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Man's Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1" href="">Nervous System</a>
          </li>
        </ul>
      </div>
    </li>

    <li (click)="isMenuExpanded=false;">
      <a class="nav-link" href="#">
        &lt;&lt; Collapse
      </a>
    </li>
  </ul>


</div>
<div class="expand-button  bg-light pt-2 h-100" *ngIf="!isMenuExpanded">
  <a (click)="isMenuExpanded = true;" href="#"> &gt;&gt; </a>
</div>