    <div *ngIf="productList.data.length == 0" class="alert alert-warning text-center" role="alert">
        No products found
    </div>    
<mat-table [dataSource]="productList" matSort matPaginator *ngIf="productList.data.length > 0" >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->    
    <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let product"><a title="More Details" href="product/{{product.id}}">{{ product.productName }}</a>  </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let product"  title="Go to the product website">
         
            <!-- <div><a style="z-index:1000;"  target="_blank" [href]="product.navigateUrl">Visit website</a> </div>
             -->
            <div [innerHTML]="sanitizeDescription(product.description)"><br>Visit Website</div>
            <hr>
            <div class="row">Visit website</div>

        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
        <mat-cell *matCellDef="let product"><a target="_blank" href="{{product.navigateUrl}}" > <img src="{{product.imgUrl}}" alt ={{product.productName}}>  </a></mat-cell>
    </ng-container>
    

    <!-- Repeat for other columns -->
    <!-- Header row and Data row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</mat-table>
