<nav class="navbar navbar-expand-lg navbar-dark">

  <brand-logo></brand-logo>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="collapsed=!collapsed">
    <span class="navbar-toggler-icon">ccxbxcv</span>
  </button>

  <div [ngClass]="{'collapse' : collapsed, 'navbar-collapse' : true}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link" routerLinkActive="active">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- <li class="nav-item dropdown">
        <div ngbDropdown class="nav-link d-inline-block">
          <a id="dropdownBasic1" ngbDropdownToggle>Products</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item">Action - 1</a>
            <a class="dropdown-item">Another Action</a>
            <hr/>
            <a class="dropdown-item">Something else is here</a>
          </div>
        </div>
      </li> -->
      <li class="nav-item">
        <div>
          <a routerLink="/about-us" class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          <!-- <a routerLink="/user/bob" routerLinkActive="active-link">Bob</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/contact-us" class="nav-link" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/affiliate-disclosure" class="nav-link" routerLinkActive="active">Affiliate Disclosure</a>

      </li>
      <li class="nav-item">
        <a href="" routerLink="/affiliate-disclosure" class="nav-link" routerLinkActive="active">Affiliate
          Disclosure</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto"> <!-- Add ml-auto class here -->
      <li *ngIf="identityService.isLoggedOut$|async" class="nav-item">
        <a class="nav-link" href="#" (click)="open()">Login</a>
      </li>
      <li *ngIf="isLoggedIn$ | async" class="nav-item">
        <a class="nav-link" routerLinkActive="active">{{authData.username}} </a>
      </li>
      <li *ngIf="identityService.isLoggedIn$| async" class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" (click)="logout()">Logout </a>
      </li>
      <li class="nav-link" *ngIf="authData.username">Account: {{authData.username}}</li>
    </ul>
  </div>
</nav>