    <!-- create html with bootstrap with top navigation, left navigation and content area and footer.  -->

    <navigation [authData]="authData"></navigation> 
    <!-- <user-navigation *ngIf="authData.isAdminLoggedIn"></user-navigation> -->
    <user-navigation ></user-navigation>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" note="Top Row">
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--Small devider-->
                                <div class="row thin-divider">
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <category-groups></category-groups>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" >
                                        <side-menu-tree></side-menu-tree>
                                    </div>
                                </div>
                                <!-- <div class="row"> -->
                                    <!-- <div class="expand-button" *ngIf="!sideMenuState.isMenuExpanded"> -->
                                    <!-- This one works with site menu -->
                                        <!-- <a  class="expand-button" *ngIf="!sideMenuState.isMenuExpanded" (click)="sideMenuState.isMenuExpanded = true;" href="#"> &gt;&gt; </a> -->
                                    
                                        <!-- </div> -->
                                    <!-- <div class="expand-button" *ngIf="sideMenuState.isMenuExpanded">
                                        <a (click)="sideMenuState.isMenuExpanded = true;" href="#"> &gt;&gt;asdasd </a>
                                    <div class="expand-button" *ngIf="!sideMenuState.isMenuExpanded"> -->
                                                                  
                                    <!-- <div class="col-lg-12"> instead of col-12 we use the collapse class -->
                                    <!-- This one works with the dunamic menu -->
                                        <!-- <a *ngIf="sideMenuState.isMenuExpanded" (click)="sideMenuState.isMenuExpanded = false;" href="#"> &lt;&lt;</a> -->
                                    
                                        <!-- <div class="d-md-flex h-100 w-100" id="sidebar" style="opacity:0.5" *ngIf="sideMenuState.isMenuExpanded">     -->
                                    <!-- <div class="col-12" >     -->
                                                <!-- This one workks with site menu -->
                                        <!-- <a *ngIf="!sideMenuState.isMenuExpanded" (click)="sideMenuState.isMenuExpanded = true;" href="#"> &gt;&gt;asdasd </a> -->
                                        <!-- <side-menu></side-menu> -->
                                        <!-- <side-menu></side-menu> -->
                                    <!-- </div> -->
                                    <!-- This one works with site menu -->
                                    <!-- <a *ngIf="sideMenuState.isMenuExpanded" (click)="sideMenuState.isMenuExpanded = false;" href="#">&lt;&lt;</a> -->

                                <!-- </div> -->
                                <!-- <div class="row">
                                    <div class="col-lg-12">
                                        <a href="about">About</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-10 "> -->
                    <div class="col-lg-10">
                        <!-- <div class="row"> -->
                            <div class="col">
                                <div class="row  thin-divider">
                                    <div class="col-lg-12" >
                                    </div>
                                </div>
                                <!-- Disclosure  -->
                                <div class="row">
                                  <div class="col-lg-12">
                                      <affiliate-disclosure></affiliate-disclosure>
                                  </div>
                                </div>
                                <div class="row bread-crumbs-row">
                                    <!-- current page and  bread crumbs  -->
                                      <div class="col-lg-12">
                                          Home
                                      </div>
                                    </div>
                                <div class="row thin-divider disclosure-row">
                                    <div class="col-lg-12">
                                    </div>
                                </div>
                                <div class="row search-bar-row">
                                    <div class="col-lg-12">
                                      Search bar
                                    </div>
                                </div>
                                <div class="row main-panel">
                                    <div class="col-lg-12">
                                        <p><router-outlet></router-outlet></p>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- <div class="row sticky-footer"> -->
                <div class="row">
                        <div class="col-lg-12"><footer></footer></div>
                </div>
            </div>
        </div>
    </div>



