<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<navigation [authData]="authData"></navigation> 
<user-navigation *ngIf="authData.isAdminLoggedIn"></user-navigation>
<div class="container-fluid" >
 <div class="d-flex flex-row" >
      <!-- <div class="row">  -->
        <side-menu class="col-md-2 col-sm-1"></side-menu>
        <div class="col">
          <div class="temp">Search bar</div>
          <affiliate-disclosure></affiliate-disclosure>
          <router-outlet></router-outlet>            
        </div>
    </div>
    <div class="row">
      <footer></footer>
    </div>
</div>


<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello</h1>
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
  </div>
</main> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
