<div class="row">
  <div class="col">
      <h5>Links</h5>
      <!-- <ul class="list-unstyled">
          <li><a >Home</a></li>
          <li><a >About</a></li>
          <li><a >Contact</a></li>
      </ul> -->
  </div>
  <div class="col">
    <h5>Our Address</h5>
    <!-- <address>
      111, South Salina St
      <br> Syracuse, NY
      <br> United States
      <br>
      <i class="fa fa-phone"></i>: +1 (315) 123-5678
      <br>
      <i class="fa fa-fax"></i>: +1 (315) 876-4321
      <br>
      <i class="fa fa-envelope"></i>:
      <a href="mailto:amcomanit&#64;amcoman.com">
        amcomanit&#64;amcoman.com</a>
    </address> -->
  </div>
  <div class="col">
    <h5>Be in touch</h5>
      <!-- <div class="nav navbar-nav d-flex flex-row justify-content-center" style="padding: 40px 10px;"> 
          <a class="btn" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
          <a class="btn" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
          <a class="btn" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
          <a class="btn" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn" href="mailto:"><i class="fa fa-envelope-o"></i></a>
      </div> -->
  </div>
  <div class="col-12">© Copyright 2024 Mialco, LLC</div>
</div>