
.nav-level-2 {
  margin-left: 20px;
}

.nav-level-3 {
    margin-left: 40px;
  }
  
  mat-selection-list {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
  }
  
  mat-list-option {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
  }

  mat-list-option:selected {
    background-color: #666; /* Darker background when selected */
  }